<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>



<form action="/share-project-with" method="post">
  <label for="receiverMail"> Who do you want to share your project with?</label>
  <input type="text" name="receiverMail" id="receiverMail" placeholder="Mail of user"><br>
  <input type="radio" id="readonly" name="edit" value="read-only">
  <label for="view-and-edit">Read only</label>
  <input type="radio" id="view-and-edit" name="edit" value="read-and-edit">
  <label for="view-and-edit">Read and edit</label><br>
  <button class="share" type="submit"> Share </button>

</form>
<h3> Oops. You cannot mark yourself as read only</h3>

</body>
</html>