<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/share-project.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content-area">
    <div class="content-area1-1">
<form class="share-with" action="/share-project-with" method="post">
  <label  for="receiverMail"> Who do you want to share your project with?</label>
  <input type="text" class="form-control" name="receiverMail" id="receiverMail" placeholder="Mail of user" required><br>
    <div class="click">
    <input type="radio" id="readonly" name="edit" value="read-only" >
    <label for="view-and-edit">Read only</label>
    <input class="clikbtn" type="radio" id="view-and-edit" name="edit" value="read-and-edit">
    <label for="view-and-edit">Read and edit</label>
    <button id="btn-successs" type="submit"> Share </button>
    </div>
</form>
    </div>
</div>

</body>
</html>