<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<h1>Shared projects</h1>

<ul th:each="project : ${projectList}">
  <li>
    <div class="project-list">
      <h1 class="project-name" th:text="${project.name}"></h1>
      <label for="project-start"> Start date</label>
      <span class="project-start" id="project-start" th:text="${project.startTime}"></span><br>
      <label for="project-end"> Deadline </label>
      <span class="project-end" id="project-end" th:text="${project.endTime}"></span><br>
      <form action="/choose-project-to-edit" method="post">
        <input type="hidden" name="id" th:value="${project.projectId}">
        <button type="submit">Edit project</button>
      </form>
    </div>
  </li>
</ul>


</body>
</html>