<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="tables/create-project-style.css">

</head>
<body>

    <div th:replace="fragments/header :: header"></div>
    <div class="content-area">
       <div class="content-area1-1">
           <div id="create-header"> Create your project </div>


           <form action="/start-new-project" method="post">
               <input type="text" class="label1"name="project_name" id="project_name" placeholder="Name of project" required>
               <input type="date" class="label2" name="project_start" id="project_start" placeholder="Start" required>
               <input type="date" class="label2" name="project_end" id="project-end" placeholder="Deadline" required>
               <button class="submit-btn" type="submit"> Create </button>
           </form>
       </div>
    </div>
</body>
</html>

