<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h2> Welcome to the project page </h2>

<form action="share-project" method="post">
    <label for="receiverName"> If you want to share project add name here </label>
    <input type="text" name="receiverName" id="receiverName" placeholder="Name of user">
    <button class="share" type="submit"> Share </button>
    </form>


    <form action="/old-project" method="get">
        <button class="share" type="submit"> Create </button>
    </form>



</div>
</body>
</html>

