<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Subtasks</title>
    <link href="css/general.css" rel="stylesheet">
    <link href="tables/current-project.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" rel="stylesheet">
    <link href="tables/current-task.css" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="content-area">



    <div class="content-area1-1">


        <div class="container-1">
          <div class="flex-box-1">

              <div class="mover">
                  <h6>Your employees</h6>
              </div>

            <div th:each="emp, iter : ${session.allEmployees}">
                <div th:id="${emp.id + 'info'}">
                    <div>
                        <span th:text="${emp.name}" class="emp-name-hover"></span><br>
                        <span th:if="${!emp.skills.isEmpty()}">Skills: </span>
                        <span th:each="skill, iter : ${emp.skills}" class="skills-hover">
                            <span th:id="skill.id" th:if="${!iter.last}" th:text="${skill.name} + ', '"></span>
                            <span th:if="${iter.last}" th:text="${skill.name}"></span>
                        </span><br>
                    </div>
                </div>
            </div>
          </div>
          <div class="flex-box-2">

            <div class="mover">
                <a class="signup" href="/task-list">Return to project</a>
            </div>

            <div class="mover">
                <a href="/share-project" methods="get"> Share project</a>
            </div>

            <div class="mover">
                <a href="/employee-manager">Edit employees</a>
            </div>

            <div>
                <span><a href="/help-page" class="dropbtn" id="help" methods="get"> Help guide</a></span>
            </div>
          </div>
        </div>

        <div id="task-name">
            <div id="your-task">Current Task:</div>
            <div id="task-name-top" th:text="${session.taskName}"></div>
        </div>


        <div class="create-new-subtask" th:if="${!session.isReadOnly}">
            <ul id="new-subtask">
                <li>
                    <h4 id="subtask-text" style="text-align: center">New subtask</h4>
                    <div class="project-table">
                        <div class="header-group">
                            <span class="td">Subtask name</span>
                            <span class="td">Start date</span>
                            <span class="td">Due date</span>
                            <span class="td">Estimated hours to complete</span>
                            <span class="td">Notes</span>
                            <span class="td"> </span>
                        </div>

                        <div class="row-group">
                            <form action="/add-new-subtask" class="tr" method="post">
                                <input name="task-id" th:value="${session.taskId}" type="hidden">

                                <span class="td"><input name="subtask-name" type="text"></span>

                                <span class="td"><input name="start-time" type="date"></span>
                                <span class="td"><input name="end-time" type="date"></span>
                                <span class="td"><input name="hours-to-complete" type="number"></span>
                                <span class="td"><textarea cols="30" id="new-subtask-description"
                                                           name="subtask-description"
                                                           required
                                                           rows="1"></textarea></span>

                                <span class="td">
                            <input class="btn btn-success" formaction="/add-new-subtask" id="save-button-new-subtask" name="action"
                                   type="submit" value="Save">
                        </span>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h4 id="existing-subtasks" style="text-align: center">Current subtasks</h4>
        <ul id="subtask-ul" th:each="subtask : ${session.subtasks}">

            <li>
                <div class="project-table">
                    <div class="header-group">
                        <span class="td">Subtask name</span>

                        <span class="td">Start date</span>
                        <span class="td">Due date</span>
                        <span class="td">Estimated hours to complete</span>
                        <span class="td">Notes</span>
                        <span class="td"> </span>
                    </div>

                    <div class="row-group">
                        <form action="/edit-task" class="tr" method="post">
                            <input name="task-id" th:value="${session.taskId}" type="hidden">
                            <input name="subtask-id" th:value="${subtask.id}" type="hidden">


                            <span class="td"><input id="subtask-name" name="subtask-name" th:value="${subtask.name}"
                                                    type="text" th:class="${session.isReadOnly ? 'look-like-text' : ''}" th:readonly="${session.isReadOnly}"></span>




                            <span class="td"><input id="start-time" name="start-time" th:value="${subtask.startTime}"
                                                    type="date" th:class="${session.isReadOnly ? 'look-like-text' : ''}" th:readonly="${session.isReadOnly}"></span>
                            <span class="td"><input id="end-time" name="end-time" th:value="${subtask.endTime}"
                                                    type="date" th:class="${session.isReadOnly ? 'look-like-text' : ''}" th:readonly="${session.isReadOnly}"></span>
                            <span class="td"><input id="hours-to-complete" name="hours-to-complete" th:value="${subtask.hoursToComplete}"
                                                    type="number" th:class="${session.isReadOnly ? 'look-like-text' : ''}" th:readonly="${session.isReadOnly}"></span>

                            <span class="td"><textarea cols="30" id="subtask-description" name="subtask-description"
                                                       required
                                                       rows="1"
                                                       th:text="${subtask.description}" th:class="${session.isReadOnly ? 'look-like-text' : ''}" th:readonly="${session.isReadOnly}"></textarea></span>

                        <span class="td" th:if="${!session.isReadOnly}">
                            <input class="btn btn-success" formaction="/save-subtask" id="save-subtask-btn" name="action"
                                   type="submit" value="Save">
                            <input class="btn btn-danger" formaction="/delete-subtask" id="delete-subtask-btn" name="action"
                                   type="submit" value="Delete">
                        </span>
                        </form>
                    </div>
                </div>

                <div class="container-employee-manager" id="container-employee-manager" th:if="${!session.isReadOnly}">
                    <form action="/add-employee-to-subtask" method="post"
                          th:if="${subtask.assignedEmployees.size() != session.allEmployees.size()}">
                        <input name="subtask-id" th:value="${subtask.id}" type="hidden">
                        <label for="employee-adder">Add employee</label>
                        <select id="employee-adder" name="employee-id">
                            <option th:each="emp : ${session.allEmployees}" th:if="${!subtask.isAssigned(emp.id)}" th:text="${emp.name}"
                                    th:value="${emp.id}"></option>
                        </select>
                        <button class="btn btn-primary" id="add-employee-btn" type="submit">Add</button>
                    </form>

                    <form action="/remove-employee-from-subtask" method="post"
                          th:if="${!subtask.assignedEmployees.isEmpty()}">
                        <input name="subtask-id" th:value="${subtask.id}" type="hidden">
                        <label for="employee-remover">Remove employee</label>
                        <select id="employee-remover" name="employee-id">
                            <option th:each="emp : ${subtask.assignedEmployees}" th:text="${emp.name}"
                                    th:value="${emp.id}"></option>
                        </select>
                        <button class="btn btn-warning" id="remove-employee-btn" type="submit">Remove</button>
                    </form>

                    <form action="/add-skill-to-subtask" method="post"
                          th:if="${subtask.requiredSkills.size() != session.allSkills.size()}">
                        <input name="subtask-id" th:value="${subtask.id}" type="hidden">
                        <label for="skill-adder">Add required skill: </label>
                        <select id="skill-adder" name="skill-id">
                            <option th:each="skill : ${session.allSkills}" th:if="${!subtask.hasSkill(skill.id)}"
                                    th:text="${skill.name}"
                                    th:value="${skill.id}"></option>
                        </select>
                        <button class="btn btn-primary" id="skill-adder-btn" type="submit">Add</button>
                    </form>

                    <form action="/remove-skill-from-subtask" method="post"
                          th:if="${!subtask.requiredSkills.isEmpty()}">
                        <input name="subtask-id" th:value="${subtask.id}" type="hidden">
                        <label for="skill-remover">Remove skill</label>
                        <select id="skill-remover" name="skill-id">
                            <option th:each="skill : ${subtask.requiredSkills}" th:text="${skill.name}"
                                    th:value="${skill.id}"></option>
                        </select>
                        <button class="btn btn-warning" id="skill-remover-btn" type="submit">Remove</button>
                    </form>
                </div>
            </li>
            <div class="assigned-emp">
            <li>
                <div id="assigned-employee">



                    <span id="assigned-employee-span">Assigned employees: </span>
                    <span th:each="emp, iter : ${subtask.getAssignedEmployees()}" th:class="${subtask.id}">
                        <span th:id="${emp.id}" onmouseover="showDetails(this.id, this.parentElement.className)">
                            <span id="show-employee-details" th:text="${emp.name}" class="employee-name-subtasks"></span>
                            <span th:if="${!iter.last}" th:text="${', '}"></span>
                        </span>



                    </span><br>

                    <!-- empty div to set employee info into -->
                    <div th:id="${subtask.id + 'box'}" class="emp-info-hover"></div>



                    <span id="required-skill">Required skills: </span>
                    <span th:each="skill, iter : ${subtask.requiredSkills}" class="required-skills">
                        <span th:id="skill.id" th:if="${!iter.last}" th:text="${skill.name} + ', '"></span>
                        <span th:if="${iter.last}" th:text="${skill.name}"></span>
                    </span>
                </div>
            </li>
          </div>
        </ul>
    </div>
</div>

</body>

<script>
    function showDetails(empId, subtaskId) {
        let employee = document.getElementById(empId + "info");
        let subtask = document.getElementById(subtaskId + "box");
        subtask.innerHTML = employee.innerHTML;
    }

    function hideDetails(empId) {
        let e = document.getElementById(empId);
        e.style.display = "none";
    }
</script>
</html>