<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit task</title>
    <link rel="stylesheet" href="generel css/headerstyle.css">
    <link rel="stylesheet" href="generel css/footerstyle.css">
    <style>
        DIV.table
        {
            display:table;
        }
        FORM.tr, DIV.tr
        {
            display:table-row;
        }
        SPAN.td
        {
            display:table-cell;
        }
        DIV.row-group {
            display: table-row-group;
        }

        DIV.header-group {
            display: table-header-group;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <ul th:each="subtask : ${session.subtasks}">
        <li>
            <div class="table">
                <div class="header-group">
                    <span class="td">Subtask name</span>
                    <span class="td">Notes</span>
                    <span class="td">Start date</span>
                    <span class="td">Due date</span>
                    <span class="td"> </span>
                </div>

                <div class="row-group">
                    <form method="post" action="/edit-task" class="tr">
                        <input type="hidden" name="task-id" th:value="${session.taskId}">
                        <input type="hidden" name="subtask-id" th:value="${subtask.id}">


                        <span class="td"><input type="text" id="subtask-name" name="subtask-name" th:value="${subtask.name}"></span>
                        <span class="td"><input type="text" id="subtask-description" name="subtask-description" th:value="${subtask.description}"></span>
                        <span class="td"><input type="date" id="start-time" name="start-time" th:value="${subtask.startTime}"></span>
                        <span class="td"><input type="date" id="end-time" name="end-time" th:value="${subtask.endTime}"></span>

                        <span class="td">
                            <input type="submit" value="Save" name="action" formaction="/save-subtask">
                            <input type="submit" value="Delete" name="action" formaction="/delete-subtask">
                        </span>
                    </form>
                </div>
            </div>



        </li>
        <li>
            <ul>
                <li th:each="emp : ${subtask.getAssignedEmployees()}">
                    <span th:text="emp.name"></span>
                </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <h1>New subtask:</h1>
            <div class="table">
                <div class="header-group">
                    <span class="td">Subtask name</span>
                    <span class="td">Notes</span>
                    <span class="td">Start date</span>
                    <span class="td">Due date</span>
                    <span class="td"> </span>
                </div>

                <div class="row-group">
                    <form method="post" action="/edit-task" class="tr">
                        <input type="hidden" name="task-id" th:value="${session.taskId}">

                        <span class="td"><input type="text" name="subtask-name"></span>
                        <span class="td"><input type="text" name="subtask-description"></span>
                        <span class="td"><input type="date" name="start-time"></span>
                        <span class="td"><input type="date" name="end-time"></span>

                        <span class="td">
                            <input type="submit" value="Save" name="action" formaction="/add-new-subtask">
                        </span>
                    </form>
                </div>
            </div>
        </li>
    </ul>

    <form action="/add-subtask-to-task" method="post">




        <button type="submit">Save</button>
    </form>

</body>
</html>