<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee manager</title>
    <link rel="stylesheet" href="generel css/headerstyle.css">
    <link rel="stylesheet" href="generel css/footerstyle.css">
    <style>
        li {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<ul>
    <li th:each="emp : ${session.allEmployees}">
        <form action="/change-employee-name" method="post">
            <input type="hidden" name="emp-id" th:value="${emp.id}">
            <label for="emp-name">Employee name: </label>
            <input type="text" name="emp-name" th:value="${emp.name}" id="emp-name" onchange="this.form.submit()">
        </form>
        <form action="/delete-employee" method="post">
            <input type="hidden" name="emp-id" th:value="${emp.id}">
            <button type="submit">Delete</button>
        </form>
        <span>Skills: </span>
        <span th:each="skill, iter : ${emp.skills}">
            <span th:if="${!iter.last}" th:text="${skill.name} + ', '"></span>
            <span th:if="${iter.last}" th:text="${skill.name}"></span>
        </span>
    </li>

    <li>
         <form action="/create-new-employee" method="post">
             <label for="new-emp-name">Create new employee: </label>
             <input type="text" name="emp-name" id="new-emp-name" placeholder="Employee name">
             <button type="submit">Save</button>
         </form>
     </li>

    <li>
        <form action="/create-new-skill" method="post">
            <label for="skill-name">Create a new skill: </label>
            <input type="text" name="skill-name" id="skill-name" placeholder="skill name">
            <button type="submit">Save</button>
        </form>
        <form action="/delete-skill" method="post" th:if="${!session.allSkills.isEmpty()}">
            <label for="skill-deleter">Delete a skill: </label>
            <select name="skill-to-delete" id="skill-deleter">
                <option th:each="skill : ${session.allSkills}" th:value="${skill.id}" th:text="${skill.name}"></option>
            </select>
            <button type="submit">Delete skill</button>
        </form>
    </li>



</ul>
</body>
</html>