<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-area">
    <div class="content-area1-1">
<h1> This page will guide you through the usage of the Project Management Tool</h1>

<p>1) Fill out information marked by green arrows. Then save</p>
<img src="static/image/help-page/guide1.png" alt="1st guide to help with this project tool" style="max-width: 70%; min-height: 150%">

<p>2) You can create subtasks for this task by going to 'View subtasks' </p>
<img src="image/help-page/guide2.png" alt="2nd guide to help with this project tool" style="max-width: 70%; min-height: 150%">

<p>3) Now create your first subtask and save it</p>
<img src="image/help-page/guide3.png" alt="3rd guide to help with the subtask">

<p>4) Now we need someone to manage this subtask. Create your first employee so he can take care of this subtask</p>
<img src="image/help-page/guide4.png" alt="4th guide to help with the subtask">
 <img src="image/help-page/guide5.png" alt="4th guide to help with the subtask p. 2">

<p>5) If you want you can also add a certain skill to this employee. This is not mandatory!</p>
 <img src="image/help-page/guide6.png" alt="5th guide to help with the subtask">
<img src="image/help-page/guide7.png" alt="5th guide to help with the subtask p. 2">

        <!-- MISSING RETURN LINK

<img src="image/help-page/guide8.png" alt="4nd guide to help with the subtask">
-->
        <p> 6) Return link needed!!!!!!</p>

        <p>7) Now add your employee to your first subtask</p>
<img src="image/help-page/guide9.png" alt="7th guide to help with the subtask">

        <p> 8) Again you can add a needed skill to the subtask(This is not mandatory) </p>
 <img src="image/help-page/guide10.png" alt="8th guide to help with the subtask">

        <p> 9) Now return to 'My first task'</p>
<img src="image/help-page/guide11.png" alt="9th guide to help with the subtask">

        <p> 10) The Project Management Tool has now calculated 'Total task hours' and estimated a 'Calculated end date' based on the given information about this task and it's subtasks</p>
<img src="image/help-page/guide12.png" alt="10th guide to show finished task calculations">

        </div>
</div>

</body>
</html>