<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Help page</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/help-page.css">

</head>
<body>

<div class="content-area">
    <div th:replace="fragments/header :: header"></div>
    <div class="content-area1-1">
        <div>
            <h1> This page will guide you through the usage of the Project Management Tool</h1>
        </div>


        <p>1) Fill out information marked by green arrows - then save</p>
        <div class="img-class">
            <img src="image/help-page-images/guide1.png" alt="1st guide to help with this project tool">
        </div>


        <p>2) You can create subtasks for this task by going to 'View subtasks' </p>
        <div class="img-class">
            <img src="image/help-page-images/guide2.png" alt="2nd guide to help with this project tool">
        </div>


        <p>3) Now create your first subtask and save it.</p>
        <div class="img-class">
            <img src="image/help-page-images/guide3.png" alt="3rd guide to help with the subtask">
        </div>


        <p>4) Now we need someone to manage this subtask. Create your first employee so he can take care of this
            subtask</p>
        <div class="img-class">
            <img src="image/help-page-images/guide4.png" alt="4th guide to help with the subtask">
            <img src="image/help-page-images/guide5.png" alt="4th guide to help with the subtask p. 2">
        </div>


        <p>5) If you want you can also add a certain skill to this employee. This is not mandatory!</p>
        <div class="img-class">
            <img src="image/help-page-images/guide6.png" alt="5th guide to help with the subtask">
            <img src="image/help-page-images/guide7.png" alt="5th guide to help with the subtask p. 2">
        </div>


        <p>6) Now return to the subtask page</p>
        <div class="img-class">
            <img src="image/help-page-images/guide8.png" alt="4nd guide to help with the subtask">
        </div>


        <p>7) You can now add your employee to your subtask</p>
        <div class="img-class">
            <img src="image/help-page-images/guide9.png" alt="7th guide to help with the subtask">
        </div>

        <p> 8) Again you can add a needed skill to the subtask(This is not mandatory) </p>
        <div class="img-class">
            <img src="image/help-page-images/guide10.png" alt="8th guide to help with the subtask">
        </div>

        <p> 9) Now return to 'My first task'</p>
        <div class="img-class">
            <img src="image/help-page-images/guide11.png" alt="9th guide to help with the subtask">
        </div>

        <p> 10) The Project Management Tool has now calculated 'Total task hours' and estimated a 'Calculated end date'
            based on the given information about this task and it's subtasks</p>
        <div class="img-class">
            <img src="image/help-page-images/guide12.png" alt="10th guide to show finished task calculations">
        </div>


    </div>
</div>

</body>
</html>