<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-area">
    <div class="content-area1-1">
<h1> This page will guide you through the usage of the Project Management Tool</h1>

<p>1) Fill out information marked by green arrows. Then save</p>
<img src="image/help-page/guide1.png" alt="Guide to help this project tool" style="max-width: 70%; min-height: 150%">

<p>2) This is your first task. You can create subtasks for this task by going to 'View subtasks' </p>
<img src="image/help-page/guide2.png" alt="2nd guide to help this project tool" style="max-width: 70%; min-height: 150%">

    </div>
</div>

<p>3) Now create your first subtask and save it</p>
<img src="./image/help-page/Guide #3 finished.png" alt="3nd guide to help with the subtask">

<p>4) Now create your first employee to manage this subtask</p>
<img src="./image/help-page/Guide #4 finished.png" alt="4nd guide to help with the subtask">

</body>
</html>