<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="generel css/headerstyle.css">
    <link rel="stylesheet" href="generel css/footerstyle.css">
    <link rel="stylesheet" href="tables/old-project.css">

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div>
<a id="shareLink" href="/share-project" class="pnav" methods="get"> Share </a> <a href="#"></a><br>
    <div class="popup" id="popup">Invite others to collaborate</div>
</div>



<h1 class="project-name-top" th:text="${session.project.name}"></h1>

<div class="table">
    <div class="header-group">
        <span class="td">Priority</span>
        <span class="td">Task name</span>
        <span class="td" id="notes">Notes</span>
        <span class="td">Estimated hours/day/employee</span>
        <span class="td">Estimated hours total</span>
        <span class="td">Days until finished</span>
        <span class="td">Start date</span>
        <span class="td">Due date</span>
        <span class="td"> </span>
    </div>

    <div class="row-group">
        <form method="post" action="/edit-task" class="tr" th:each="task : ${session.projectTasks}">
            <input type="hidden" th:value="${task.id}" name="id">

            <span class="td">
                <select id="task-priority" name="priority" required>
                    <option value="high" th:selected="${task.priority=='high'}">High</option>
                    <option value="medium" th:selected="${task.priority=='medium'}">Medium</option>
                    <option value="low" th:selected="${task.priority=='low'}">Low</option>
                </select>
            </span>


            <span class="td"><input type="text" id="task-name" name="name" th:value="${task.name}"></span>
       <span class="td"><textarea name="description" id="task-description" cols="30" rows="1" th:text="${task.description}" required></textarea></span>
        <!--   <span class="td"><input type="text" id="task-description" name="description" th:value="${task.description}"></span>  -->
            <span class="td"><input type="number" id="hours-day" name="estimated-hours-day" th:value="${task.estimatedHoursPrDay}"></span>
            <span class="td"><input type="number" id="hours-total" name="estimated-hours-total" th:value="${task.estimatedHoursTotal}"></span>
            <span class="td"><input type="number" id="work-days-until-finish" name="work-days-until-finish" value="" readonly></span>
            <span class="td"><input type="date" id="task-start" name="start_time" th:value="${task.start_time}"></span>
            <span class="td"><input type="date" id="task-end" name="end_time" th:value="${task.end_time}"></span>

            <span class="td">
                <input type="submit" value="Save" name="action" formaction="/edit-task">
                <input type="submit" value="Delete" name="action" formaction="/edit-task">
                <input type="submit" value="View subtasks" name="action" formaction="/edit-task-with-subtasks">
            </span>
        </form>


        <form action="/add-row-to-tasks" method="post" class="tr">

            <span class="td">
                <select name="priority" required>
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
            </span>

            <span class="td"><input type="text" name="name" required></span>
       <span class="td"><textarea name="description" id="new-task-description" cols="30" rows="1" required></textarea></span>
         <!--   <span class="td"><input type="text" id="new-task-description" name="description" required></span> -->
            <span class="td"><input type="number" name="estimated-hours-total" required></span>
            <span class="td"><input type="number" name="estimated-hours-day" required></span>
            <span class="td"><input type="number" name="work-days-until-finish" value="" readonly></span>
            <span class="td"><input type="date" name="start_time" required></span>
            <span class="td"><input type="date" name="end_time" required></span>


            <span class="td">
                <input type="submit" value="Save" name="action" formaction="add-row-to-tasks">
            </span>
        </form>
    </div>

    <p> Sorted by priority </p>
</div>


<script>
    let e = document.getElementById('shareLink');
    e.onmouseover = function() {
        document.getElementById('popup').style.display = 'block';
    }
    e.onmouseout = function() {
        document.getElementById('popup').style.display = 'none';
    }

</script>

</body>
</html>