<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<table  border="1" style="width:300px">


    <a href="/share-project" class="pnav" methods="get"> Share project </a> <a href="#"></a>


    <h3 th:text="${project.name}"></h3>

    <tr>
        <th></th>
        <th>Priority</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>

  <tr  th:each="task : ${projectTasks}">
    <td><form action="/edit-task" method="post" id="form1"><input type="hidden" name="id" th:value="${task.id}"></td>
      <td><select name="priority" th:value="${task.priority}" required>
          <option th:text="${task.priority}"></option>
          <option value="High">high</option>
          <option value="Medium">medium</option>
          <option value="Low">low</option>
      </select></td>
      <td><input type="text" name="name" th:value="${task.name}"></td>
      <td><input type="text" name="description" th:value="${task.description}"></td>

      <td><input type="date" name="start_time" th:value="${task.start_time}"></td>
      <td><input type="date" name="end_time" th:value="${task.end_time}"></td>
    <td><input type="submit" value="Save" name="action"></td>
     <td> <input type="submit" value="Delete" name="action" /> </td>
    </form>
  </tr>


   <tr>
        <td><form action="/add-row-to-tasks" method="post" id="form2"><input type="hidden" name="id" value="1" /></td>
        <td><select class="priority" name="priority" required>
            <option value="High">high</option>
            <option value="Medium">medium</option>
            <option value="Low">low</option>
        </select></td>
        <td><input type="text" name="name" value="" required/></td>
        <td><input type="text" name="description" value="" required/></td>
        <td><input type="date" name="start_time" value="" required /></td>
        <td><input type="date" name="end_time" value="" required/></td>
        <td><input type="submit" value="Save" /></td>
        </form>
    </tr>

</table>

<ul th:each="task : ${projectTasks}">
    <li>
        <div>
            <form action="/edit-task" method="post">
                <label for="task-name">Task name</label><br>
                <input type="text" id="task-name" name="name" th:value="${task.name}"><br>

                <label for="task-description">Task description</label><br>
                <input type="text" id="task-description" name="description" th:value="${task.description}"><br>

                <label for="task-start">Task start</label><br>
                <input type="date" id="task-start" name="start_time" th:value="${task.start_time}"><br>

                <label for="task-end">Task deadline</label><br>
                <input type="date" id="task-end" name="end_time" th:value="${task.end_time}"><br>

                <label for="task-priority">Task priority</label>
                <select id="task-priority" name="priority" required>
                    <option value="high" th:selected="${task.priority=='high'}">High</option>
                    <option value="medium" th:selected="${task.priority=='medium'}">Medium</option>
                    <option value="low" th:selected="${task.priority=='low'}">Low</option>
                </select>

                <input type="hidden" th:value="${task.id}" name="id">

                <input type="submit" value="Save" name="action">
                <input type="submit" value="Delete" name="action">
            </form>
        </div>
    </li>
</ul>



</body>
</html>