<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="tables/tasks.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">


</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="content-area">

    <div class="content-area1-1">

        <div class="container-1">

            <div>
                <span><a href="/share-project" methods="get"> Share project</a></span>
            </div>

            <div>
                <span><a href="/help-page" class="dropbtn" id="help" methods="get"> Help guide</a></span>
            </div>
        </div>


        <div class="project-name">
            <div id="your-projects">Current project</div>
            <div class="project-name-top" th:text="${session.project.name}"></div>
        </div>

               <div class="new-task" th:if="${!session.isReadOnly}">
                   <h6 id="task-text">New Task</h6>
               </div>
        <div class="project-table" th:if="${!session.isReadOnly}">
            <div class="header-group">
                <span class="td">Priority</span>
                <span class="td">Task name</span>
                <span class="td">Work hours/day/employee</span>
                <span class="td">Weekend work</span>
                <span class="td">Start date</span>
                <span class="td">Due date</span>
                <span class="td" id="notes1">Notes</span>
                <span class="td"> </span>
            </div>


            <!-- ADD NEW ROW TO TASK -->
            <form action="/add-row-to-tasks" method="post" class="tr">

                <!-- Priority -->
                <select name="priority" required>
                    <option class="high-prior" value="high">High</option>
                    <option class="medium-prior" value="medium">Medium</option>
                    <option class="low-prior" value="low">Low</option>
                </select>



                <span class="td"><input type="text" name="name" required></span>
                <span class="td"><input type="number" name="estimated-hours-day" id="estimated-hours-day-new-row"
                                        required></span>

                <!-- Count weekends or only weekdays -->
                <select class="select" name="count-weekends">
                    <option value="weekend-false">NO</option>
                    <option value="weekend-true">YES</option>
                </select>

                <!-- Work hours and calendar -->

                <span class="td"><input type="date" name="start_time" id="start-time" required></span>
                <span class="td"><input type="date" name="end_time" id="end_time"></span>

                <span class="td"><textarea name="description" id="new-task-description" cols="30" rows="1"
                                           required></textarea></span>
                <span class="td">

                        <!-- Buttons -->
                            <input type="submit" class="btn btn-success" value="Save" name="action"
                                   formaction="add-row-to-tasks">
                        </span>
            </form>
     </div>

                                <!-- EDIT CURRENT TASKS -->

        <div class="current-tasks">
            <h6 id="current-task-text">Current Tasks</h6>
        </div>

            <div class="project-table">
                <div class="header-group">
                    <span class="td">Priority</span>
                    <span class="td">Task name</span>
                    <span class="td">Work hours/day/employee</span>
                    <span class="td">Weekend work</span>
                    <span class="td">Total subtask hours</span>
                    <span class="td">Start date</span>
                    <span class="td">Due date</span>
                    <span class="td">Calculated end date</span>
                    <span class="td" id="notes">Notes</span>
                    <span class="td"> </span>
                </div>

                <div class="row-group">

                    <form method="post" action="/edit-task" class="tr" th:each="task : ${session.projectTasks}">
                        <input type="hidden" th:value="${task.id}" name="id">

                        <!-- SELECT priority -->
                        <select id="task-priority" name="priority" required th:class="${session.isReadOnly ? 'look-like-text' : ''}">
                            <option class="high-prior" th:disabled="${session.isReadOnly && task.priority != 'high'}" value="high" th:selected="${task.priority=='high'}">High</option>
                            <option class="medium-prior" th:disabled="${session.isReadOnly && task.priority != 'medium'}" value="medium" th:selected="${task.priority=='medium'}">Medium</option>
                            <option class="low-prior" th:disabled="${session.isReadOnly && task.priority != 'low'}" value="low" th:selected="${task.priority=='low'}">Low</option>
                        </select>



                        <!-- TASK NAME AND DESCRIPTION -->
                        <span class="td"><input type="text" id="task-name" name="name" th:value="${task.name}" th:readonly="${session.isReadOnly}" th:class="${session.isReadOnly ? 'look-like-text' : ''}"></span>


                        <span class="td"><input type="number" id="hours-day" name="estimated-hours-day"
                                                th:value="${task.estimatedHoursPrDay}" th:class="${session.isReadOnly ? 'look-like-text' : ''}" th:readonly="${session.isReadOnly}"></span>


                        <!-- Count weekends or only weekdays -->
                        <select id="task-count-weekends" name="count-weekends" th:class="${session.isReadOnly ? 'look-like-text' : ''}">
                            <option value="weekend-false" th:disabled="${session.isReadOnly && task.countWeekends != 'weekend-false'}" th:selected="${task.countWeekends=='weekend-false'}">NO
                            </option>
                            <option value="weekend-true" th:disabled="${session.isReadOnly && task.countWeekends != 'weekend-true'}" th:selected="${task.countWeekends=='weekend-true'}">YES
                            </option>
                        </select>



                        <!-- hours total -->
                        <span class="td"><input type="number" id="hours-total" name="estimated-hours-total"
                                                th:value="${task.estimatedHoursTotal}" class="look-like-text"
                                                readonly></span>
                        <!-- start date -->
                        <span class="td"><input type="date" id="task-start" name="start_time"
                                                th:value="${task.start_time}" th:readonly="${session.isReadOnly}" th:class="${session.isReadOnly ? 'look-like-text' : ''}"></span>

                        <!-- end date-->
                        <span class="td"><input type="date" id="task-end" name="end_time"
                                                th:value="${task.end_time}" th:readonly="${session.isReadOnly}" th:class="${session.isReadOnly ? 'look-like-text' : ''}"></span>

                        <!-- calculated end date-->
                        <span class="td"><input th:type="${task.endTimeCanBeCalculated() ? 'date' : 'text'}" name="end_time_calculated" id="end_time_calculated" class="look-like-text"
                                                th:value="${task.endTimeCanBeCalculated() ? task.end_time_calculated : 'N/A'}" readonly></span>

                        <!-- task description -->
                        <span class="td"><textarea name="description" id="task-description" cols="30" rows="1"
                                                   th:text="${task.description}" th:readonly="${session.isReadOnly}" th:class="${session.isReadOnly ? 'look-like-text' : ''}"></textarea></span>


                        <!-- Buttons -->
                        <span class="td">
                            <input th:if="${!session.isReadOnly}" type="submit" class="btn btn-success" id="btn-success" value="Save" name="action" formaction="/edit-task">
                            <input th:if="${!session.isReadOnly}" type="submit" class="btn btn-danger" id="btn-danger" value="Delete" name="action"
                                formaction="/edit-task">
                            <input type="submit" class="btn btn-primary" id="btn-primary" value="View subtasks" name="action"
                                formaction="/edit-task-with-subtasks">
                        </span>


                    </form>
                </div>


                <p> Sorted by priority </p>
            </div>
        </div>
    </div>
</div>

<script>
    let e = document.getElementById('shareLink');
    e.onmouseover = function () {
        document.getElementById('popup').style.display = 'block';
    }
    e.onmouseout = function () {
        document.getElementById('popup').style.display = 'none';
    }
</script>


</body>
</html>