<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
       <meta charset="UTF-8">
       <title>Title</title>
        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
        <body>
        <!--header.html-->
        <div th:replace="fragments/header :: header">  </div>
            <div class="content-area">
                <div class="content-area1-1">
                    <div>User info successfully changed</div>
                    <a href="/" class="sign-up">Click here to return to the homepage</a>
                </div>
            </div>
            </div>
        </div>
        </body>
</html>