* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    height: auto;
    overflow-y: scroll;
}

.wrapper.scroll {
    width: 100%;
    height: 300%;
    margin-right: auto;
    margin-left: 0%;
}




/*______HEADER______ */
.header {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.logo {
    width: 300px;
    float: left;
    margin-left: -50px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Signin button*/
.signin-btn {
    color: #d49423; text-decoration: none;
    float: right;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 70px;
    cursor: pointer;
}
.signin-btn:hover{
    color: #170eff;
}

.navbar{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    color: #d49423;
    float: right;
}

.nav-bar{
    color: #5b83ad;
    font-size: 20px;
}





/*_____FRONTPAGE_____*/

/*image section*/
.section1 {
    height: 100vh;
    background-image: url("image/sektion1-img.jpeg");
    background-size: cover;
    object-fit: cover;
    position: relative;

}

.section1-1 {
    position: absolute;
    color: white;
    background: rgba(30, 53, 82, 0.548);
    height: 100%;
    width: 100%;
    text-align: center;
}

.section1-1 .heading {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20%;
}

.section1-1 .subheading{
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
}

.signup-fp{
    color: #170eff;
    width: 30%;
    border-radius: 10px;
    padding: 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

.signup-fp:hover{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10%;
}






/*______Footer_______*/
.footer {
    position: fixed;
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 30px;
    background-color: #5b83ad;
}

.footer p{
    margin-top: 0.2vw;
    font-size: 1vw;
    text-align: center;
    letter-spacing: 0.2vw;
    color: #ffffff;
}






/*_____LOGIN_______*/

.content-area{
    background: linear-gradient(to left, #507398,white);
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    position: relative;
    font-size: 20px;

}

.content-area1-1 {
    background: linear-gradient(to left, #507398,white);
    position: absolute; color: #525252;
    text-align: center;
    margin-top: 10%;
    width: 100%;

}
.content-area h3{
    color: red;
    text-align: center;
    font-size: 16px;
}

.login{
    background-color: #5b83ad;
    color: white;
    width: 30%;
    padding: 5px;
    border: 1px solid #5b83ad;
    border-radius: 10px;
    margin: 15px;
    resize: vertical;
    cursor: pointer;
}
.login:hover{
    color: #2159e8;
}

.form-control{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    resize: vertical;
}

.checkbox{
    margin-right: 25%;
    padding-top: 1vw;
    color: #d49423;
    font-size: 15px;
}

.sign-up{
    text-decoration: none;
    color: #2159e8;
    font-size: 16px;
}
.sign-up:hover{
    color:#d49423;
}

.signup{
    background-color: #5b83ad;
    color: white;
    width: 30%;
    padding: 5px;
    border: 1px solid #5b83ad;
    border-radius: 10px;
    margin: 15px;
    resize: vertical;
    cursor: pointer
}

.signup:hover{
    color: #2159e8;
}





/*___Dropdown menu____*/
.show-username{
    background-color: #ffffff;
    color: #d49423;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 60px;
    margin-right: 70px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(239, 239, 239, 0.44);
    min-width: 120px;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(76, 110, 145, 0.58);}

.dropdown:hover .dropdown-content {display: block;}


