* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    height: auto;
    overflow-y: scroll;
}

.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: 0%;
}

/*___header___ */
.header {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}


.logo {
    width: 300px;
    float: left;
    margin-left: -50px;
    margin-top: 10px;
    margin-bottom: 10px;

}


/*Signin button*/
.signin {
    color: #d49423;
    float: right;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 70px;
    cursor: pointer;
}

/*image section*/
.sektion1 {
    height: 700px;
    background-image: url("image/sektion1-img.jpeg");
    background-size: 100%;
    object-fit: cover;
    position: relative;
}

.sektion1-1 {
    position: absolute;
    color: white;
    background: rgba(30, 53, 82, 0.548);
    height: 100%;
    width: 100%;
    text-align: center;
}

.sektion1-1 .overskrift {
    font-size: 40px;
    font-weight: bold;
    padding-top: 200px;
}

.sektion1-1 .under-overskrift{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.signup {
    background-color: #5b83ad;
    color: #ffffff;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-top: 20px;
    padding-right: 40px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.signup:hover{
    color: #1124d7;
}



/*_____Footer_______*/
.footer {
    position: fixed;
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 30px;
    background-color: #5b83ad;
}

.footer p{
    margin-top: 0.2vw;
    font-size: 1vw;
    text-align: center;
    letter-spacing: 0.2vw;
    color: #ffffff;
}


/*_____Login_______*/

.content-area{
    background: linear-gradient(to right, #507398,white);
    height: 700px;
    background-size: cover;
    object-fit: cover;
    position: relative;
}
.content-area1-1 {
    background: linear-gradient(to right, #507398,white);
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 100px;

}

.login{
    background-color: #5b83ad;
    color: white;
    width: 30%;
    padding: 5px;
    border: 1px solid #5b83ad;
    border-radius: 10px;
    margin: 15px;
    resize: vertical;
    cursor: pointer;
}
.login:hover{
    color: #2159e8;
}

input[type=text], select, textarea, input[type=name]{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    resize: vertical;
}

input[type=text], select, textarea, input[type=email] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    resize: vertical;
}

input[type=text], select, textarea, input[type=password] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    resize: vertical;
}

input[type=number], select, textarea, input[type=name]{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: #0e1ca8;
}

.checkbox{
    margin-right: 21%;
    padding-top: 1vw;
}

.contact-info {
    float: right;
    width: 25%;
}

.contact-info h2 {
    font-size: 1.2vw;
    padding-top: 0;
    text-transform: uppercase;
    color: #5b83ad;
}

.contact-info p{
    font-size: 1vw;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.4vw;
}

.signup{
    background-color: #5b83ad;
    color: white;
    width: 30%;
    border: 1px solid #5b83ad;
    border-radius: 10px;
    padding: 5px 15px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
}

.signup:hover{
    color: #2159e8;
}


