.dropbtn{
    color: #525252;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: left;
}


.popup {
    color: #fff;
    background-color: #dadada;
    display: none;
    padding: 18px;
    font-family: Arial, serif;
    margin-bottom: -41px;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid transparent;
}


#helper {
    margin-left: 160px;
}


DIV.table
{

    display:table;

}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    padding: 2px;
    display:table-cell;

}
DIV.row-group {
    display: table-row-group;
}

DIV.header-group {
    display: table-header-group;
    border-bottom: 1px solid black;

}

li {
    list-style-type: none;
}

#help {
    margin-left: 330px;
}

.table {

    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;


}
#task-description, #new-task-description {
    width:170px;
    transition: 0.5s;

}

#task-description:focus, #new-task-description:focus {

    width:170px;
    height: 60px;
    transition: 0.5s;


}

.container-1 {

    display: flex;
    flex-direction: row;
    color: #525252;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.project-name-top {

    padding-bottom: 20px;
    padding-top: 5px;
    color: #2159e8;

}

textarea  {
    transform: translateY(8px);
    Z-index: 1000;
    height: 24px;

}

.td {
    height: 5px;
    padding: -5px;
}


input {

    height: 24px;
}

.btn {
    line-height: 1;
}

.btn-success {
    padding: 1px;
    height: 33px;
    margin-left: -5px;
}

.btn-danger {
    padding: 1px;
    height: 33px;
}

.btn-primary {
    padding: 1px;
    height: 33px;
}

/* Calendar inputs */
#task-start {
    width: 162px;
}
#task-end {
    width: 162px;
}
#end_time_calculated {
    width: 162px;
}
#end_time_calculatedNA {
    width: 162px;
}

#start-time {
    width: 162px;
}
#end_time {
    width: 162px;
}

/* employee hours */
#hours-day {
    width: 40px;
}
#estimated-hours-day-new-row {
    width: 40px;
}
#hours-total {
    width: 60px;
}








