
.content-area1-1 #subtask-ul{
    padding-left: 0;
    width: 100%;
    margin-top: 15px;
}

.container-1 {

    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.container-1 #help {
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: #525252;
    display:inline ;
}

.container-1 #help:hover {
    color: #2159e8;
}

.container-1 #share-with{
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: #525252;
    display:inline ;
}

.container-1 #share-with:hover {
    color: #2159e8;
}


FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    padding: 8px;
    display:table-cell;

}
.row-group {
    display: table-row-group;
margin-right: 4px;
}

DIV.header-group {
    display: table-header-group;
    border-bottom: 1px solid #525252;
}



.project-table {
    display: table;
    margin-top: 40px;
    margin-bottom: 10px;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100%;
    border-color: #525252;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
    background-color: #e8eaec;

}

.create-new-subtask ul{
    padding-left: 0;
    width: 100%;
    margin-top: 15px;
}

.create-new-subtask{
    margin-top: 100px;
    margin-bottom: 100px;
}

#container-employee-manager {
    margin-left: 1250px;
}

#assigned-employee {
    margin-top: -40px;
}
.assigned-emp {
    margin-top: 50px;
    margin-bottom: 150px;
}

#create-new-subtask {
    margin-top: 70px;

}

#show-employee-details {
    margin-bottom: -50px;
}
#show-employee-details2 {
    margin-bottom: -50px;
}

#task-description, #new-task-description {
    width:170px;
    transition: 0.5s;
    line-height: 1;

}

#task-description:focus, #new-task-description:focus {
    line-height: 1;
    width:170px;
    height: 60px;
    transition: 0.5s;
}


.project-name #your-projects{
    padding-bottom: 10px;
    padding-top: 25px;
    color: #525252;
    font-size: 25px;
}

.project-name-top {
    padding-bottom: 15px;
    padding-top: 5px;
    color: #2159e8;
}


.content-area1-1 #myproject{
    font-size: 25px;
    text-align: center;
    margin-left: 2rem;
    margin-top: 30px;
}

textarea  {
    transform: translateY(8px);
    Z-index: 1000;
    height: 24px;
}

li#myprojectlist{
    margin-top: 20px;

}

.td {
    height: 5px;
    padding: -5px;
}


#btn-primary {
    padding: 6px;
}

#btn-danger {
    padding: 6px;
}
#btn-success {
    padding: 6px;
}


/* Calendar inputs */
#task-start {
    width: 162px;
}
#task-end {
    width: 162px;
}
#end_time_calculated {
    width: 162px;
}
#end_time_calculatedNA {
    width: 162px;
}

#start-time {
    width: 162px;
}
#end_time {
    width: 162px;
}

/* employee hours */
#hours-day {
    width: 40px;
}
#estimated-hours-day-new-row {
    width: 40px;
}

#hours-total {
    width: 60px;
}

#subtask-description, #new-subtask-description {
    width:170px;
    transition: 0.5s;

}

#subtask-description:focus, #new-subtask-description:focus {

    width:170px;
    height: 60px;
    transition: 0.5s;


}

#skill-adder-btn {

    margin-left: 73px;
    line-height: 0.5;
}

#skill-remover-btn {
    line-height: 0.5;
    margin-left: 63px;

}

#save-button-new-subtask {
    margin-right: 70px;
    line-height: 0.5;
    height: 31px;

}

#save-subtask-btn {
    line-height: 0.5;
    height: 31px;
}

#delete-subtask-btn {
    line-height: 0.5;
    height: 31px;
}



#add-employee-btn {
    line-height: 0.5;
    margin-left: 40px;
}

#remove-employee-btn {
    line-height: 0.5;
}


#task-text, #current-task-text {
    margin-top: 70px;

}

.look-like-text {
    border: none;
    background: transparent;
    color: #000;
}

#new-subtask-description, #subtask-description {
    line-height: 1;
}

.container-employee-manager, #assigned-employee {
    font-size: 15px;
}