.container-1 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.flex-box-1 {

    font-size: x-small;


}



.flex-box-2 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}


.create-new-subtask{
    margin-top: 100px;
    margin-bottom: 100px;
}

#container-employee-manager {
    margin-left: 1250px;
}

#assigned-employee {
    margin-top: -30px;
}
.assigned-emp {

    margin-bottom: 150px;
}

#create-new-subtask {
    margin-top: 70px;

}

#show-employee-details {
    margin-bottom: -50px;
}
#show-employee-details2 {
    margin-bottom: -50px;
}

#current-employees {

    border: 2px solid white;
}



#task-name {
    margin-top: 30px;
    font-size: x-large;
}

#task-name-top {

    padding-bottom: 15px;
    padding-top: 5px;
    color: #2159e8;
}

.mover {
    padding: 15px;
}

