
.ul-1{
position: center;
 display: block;

}



.ul-2{
    display: block;

}

.flex-box-current-employees {
    border: 3px solid white;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.emp-name{
    border-radius: 8px;
    border-color: #2159e8;
}

.container-1 {

    margin-bottom: 25px;

}


.content-area1-1, .container-1 {

    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.create-new-emp {
    margin-bottom: 5px;
}
.create-new-skill {
    margin-bottom: 5px;
    margin-left: 51px;
}

.delete-skill {
    margin-left: -98px;
}

#employee-skills {

    margin-top: 20px;

}

.btn {
    margin-bottom: 5px;
    line-height: 0.5;
    height: 24px;

}
