.popup {

    display: none;
    padding: 18px;
    font-family: Arial, serif;
    color: white;
    margin-bottom: -40px;
    background: #0e1ca8;
    margin-left: 5px;
    margin-top: 5px;

}


#shareLink {

    margin-left: 260px;

}

DIV.table
{

    display:table;

}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}
DIV.row-group {
    display: table-row-group;
}

DIV.header-group {
    display: table-header-group;
}

.table {
    margin-left: 100px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);


}

#task-description, #new-task-description {
    width:170px;
    transition: 0.5s;

}

#task-description:focus, #new-task-description:focus {

    width:170px;
    height: 60px;
    transition: 0.5s;
    position: absolute;

}

.container-1 {

    display: flex;
    flex-direction: row;


}

.project-name-top {

    padding-bottom: 50px;
    padding-top: 40px;

}

textarea  {
    transform: translateY(6px);
    Z-index: 1000;
}







