<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Management | Frontpage</title>
    <link rel="stylesheet" href="generalbasestyle.css">
    <link rel="stylesheet" href="../../static/frontpage/frontpagestyle.css">
    <link rel="stylesheet" href="/frontpage/frontpagestyle.css">
</head>
<body>

<div class="page-container">

    <!--frontpage background-->
    <div class="page-background-img">

        <!-- header navigation menu-->
        <ul class="header-nav-container">
            <li class="menu-item-wrapper1">
                <a href="/">
                    <img src="static/image/logo.png"
                         alt="PMT Logo" height="100%"/>
                </a>
            </li>
            <li class="menu-item-wrapper2">
                <a href="/logIn" class="menu-button">
                    <h1 class="active">Log In</h1>
                </a>
            </li>
            <li class="menu-item-wrapper2">
                <a href="/signUp" class="menu-button">
                    <h1>Sign Up</h1>
                </a>
            </li>
        </ul>
    </div>
</div>

        <!-- right side/main content -->
        <div class="intro-container">
            <div class="right-box-wrapper">

                <h2>The easiest way to manage team projects and tasks </h2>
                <p>  Project Management Tool gives teams everything they need to stay in sync,
                   hit deadlines, and reach their goals..
                </p>
                <p>Start planning now!</p>

                <!-- redirect to log in page -->
                <form name="signUp" action="/signUp" method="get">
                    <input type="submit" class="button" value="Sign up">
                </form>

                <!-- redirect to sign up page -->
                <form name="logIn" action="/logIn" method="get">
                    <input type="submit" class="button" value="Log in">
                </form>
            </div>
        </div>


    <!-- footer content-->
    <div class="footer">
        <h1> WWW.PMT.COM • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@PROJECTPLANNER.COM • TLF: +45 46 46 07 00 </h1>
    </div>


</body>
</html>

</body>
</html>