<header th:fragment="header"
        xmlns:th="http://www.w3.org/1999/xhtml">

  <div class="box-area">

    <div class="wrapper">

      <div class="header">
        <div class="logo"> <a href="/">
          <img src="image/logo.png" alt="Frontpage" style="max-width: 60%; min-height: 150%">
        </a>

        </div>

        <div class="signin">
          <div class="options" th:if="${session.user == null}">
            <a href="sign-in" class="signin" methods="get">Login</a>
            <a th:text="${session.user}"></a>
          </div>



          <div class="options" th:if="${session.user != null}">
            <a href="profile" class="pnav" th:text="${session.user.getName()}"></a>
            |
            <a href="sign-out"class="pnav" methods="get"> Sign out </a> <a href="#"></a>
            |
            <a href="/create-project"class="pnav" methods="get"> Create project </a> <a href="#"></a>
            |
            <a href="/see-all-projects"class="pnav" methods="get"> My projects </a> <a href="#"></a>
            |
            <a href="/shared-with-me"class="pnav" methods="get"> Shared projects </a> <a href="#"></a>
            |
            <a href="/employee-manager"class="pnav" methods="get"> Employee manager </a> <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>