<header th:fragment="header"
        xmlns:th="http://www.w3.org/1999/xhtml">
<!------>
  <div class="box-area">

    <div class="wrapper">

      <div class="header">
        <div class="logo"> <a href="/">
          <img src="image/logo.png" alt="Frontpage" style="max-width: 60%; min-height: 150%">
          </a>
        </div>
        <nav>
           <div class="nav-bar">
              <div class="options" th:if="${session.user == null}">
                 <a href="sign-in" class="signin-btn" methods="get">Login</a>
                 <a th:text="${session.user}"></a>
              </div>

             <div class="options" th:if="${session.user != null}">

                 <ul>
                     <li><a href="/">Home</a></li>
                     <li class="dropdown">
                         <a href="/create-project">Manage projects</a>
                         <div class="dropdown-content">
                             <a href="/create-project">Create project</a>
                             <a href="/see-all-projects">My project</a>
                             <a href="/shared-with-me">Shared projects</a>
                             <a href="/employee-manager">Employee manager</a>
                         </div>
                     </li>
                     <li class="dropdown">
                                <a href="/profile" th:text="${session.user.getName()}" class="dropbtn"></a>
                         <div class="dropdown-content">
                             <a href="/profile">Edit profile</a>
                             <a href="sign-out">Sign out</a>
                         </div>
                     </li>
                 </ul>
                </div>
           </div>
        </nav>
      </div>
    </div>
  </div>
</header>