/*ul{list-style-type: none;
margin: 0;
    flow: hidden;
background-color: #ffffff;
}

li {
    float: right;
    display: inline-block;
    color: #d49423;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a, .dropbtn {
    display: inline-block;
    color: #d49423;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(239, 239, 239, 0.44);
    min-width: 120px;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(76, 110, 145, 0.58);}

.dropdown:hover .dropdown-content {
    display: block;
}*/