* {
    padding: 0;
    margin: 0;
    font-family: "Tahoma";

}
body {
    text-align: center;
    height: auto;
    overflow-y: scroll;
}

.wrapper.scroll {
    width: 100%;
    height: 300%;
    margin-right: auto;
    margin-left: 0%;
}





/*______HEADER______ */
.header {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}


.logo {
    width: 300px;
    float: left;
    margin-left: -50px;
    margin-top: 5px;
    margin-bottom: 10px;
}


/*Signin button*/
.signin-btn {
    color: #525252; text-decoration: none;
    float: right;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 70px;
    cursor: pointer;
}
.signin-btn:hover{
    color: #170eff;
}






/*_____FRONTPAGE_____*/

/*image section*/
.section1 {
    height: 100vh;
    background-image: url("../image/sektion1-img.jpeg");
    background-size: cover;
    object-fit: cover;
    position: relative;
}

.section1-1 {
    position: absolute;
    color: white;
    background: rgba(30, 53, 82, 0.39);
    height: 100%;
    width: 100%;
    text-align: center;
}

.section1-1 .heading {
    font-size: 40px;
    padding-top: 20%;
}

.section1-1 .subheading{
    font-size: 15px;
    padding-top: 20px;
}

.signup-fp{
    color: #2159e8;
    width: 30%;
    border-radius: 10px;
    padding: 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

.signup-fp:hover{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10%;
}

.content-area{
    background: linear-gradient(to left, #507398,white);
    height: 100vh;
    min-width: 100%;
    background-size: cover;
    object-fit: cover;
    position: relative;
    font-size: 20px;

}

/*______Footer_______*/
.footer {
    position: fixed;
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 30px;
    background-color: #5b83ad;
}

.footer p{
    margin-top: 0.2vw;
    font-size: 1vw;
    text-align: center;
    letter-spacing: 0.2vw;
    color: #ffffff;
}







/*_____DROPDOWN MENU_______*/
ul{list-style-type: none;
    margin: 0;
    flow: hidden;
    background-color: #ffffff;
}

li {
     float: right;
     display: inline-block;
     text-align: center;
     text-decoration: none;
     padding: 16px 12px;
     margin-top: 55px;
 }

li a, .dropbtn {
    display: inline-block;
    color: #525252;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
}



li.dropdown {
    display: inline-block;

}

li a:hover{
    color:#2159e8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(239, 239, 239, 0.44);
    min-width: 120px;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.dropdown-content a:hover {
    background-color: rgba(76, 110, 145, 0.58);}

.dropdown:hover .dropdown-content {
    display: block;}




