* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    height: auto;
    overflow-y: scroll;
    font-family: "Trebuchet MS";
}

.wrapper.scroll {
    width: 100%;
    height: 300%;
    margin-right: auto;
    margin-left: 0%;
}


.content-area{
    background: linear-gradient(to left, #507398,white);
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    position: relative;
    font-size: 20px;

}

.content-area1-1 {
    background: linear-gradient(to left, #507398,white);
    position: absolute; color: #525252;
    text-align: center;
    margin-top: 10%;
    width: 100%;

}

.content-area h3{
    color: red;
    text-align: center;
    font-size: 16px;
}

.content-area h4{
    color: red;
    text-align: center;
    font-size: 20px;
}
.content-area h1{
    color: red;
    text-align: center;
}


.login{
    background-color: #5b83ad;
    color: white;
    width: 30%;
    padding: 5px;
    border: 1px solid #5b83ad;
    border-radius: 10px;
    margin: 15px;
    resize: vertical;
    cursor: pointer;
}
.login:hover{
    color: #2159e8;
}

.form-control{
    width: 30%;
    padding: 12px;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    margin-top: 15px;
    resize: vertical;
    margin-left: 15px;

}

.checkbox{
    margin-right: 25%;
    padding-top: 1vw;
    color: #2159e8;
    font-size: 15px;
}

.sign-up{
    text-decoration: none;
    color: #2159e8;
    font-size: 16px;
}
.sign-up:hover{
    color: #ffffff;
}

.signup{
    background-color: #5b83ad;
    color: white;
    width: 30%;
    padding: 5px;
    border: 1px solid #5b83ad;
    border-radius: 10px;
    margin: 15px;
    resize: vertical;
    cursor: pointer
}

.signup:hover{
    color: #2159e8;
}



/*_____Share with page________*/

/*share-with button */
.share{
    border-color: #8a8a8a;
    padding: 8px 12px 8px 12px ;
    color: #525252;
    border-radius: 6px;
    margin-top: 15px;
    margin-left:15px ;
    font-size: 15px;
}

.share-with{
    text-align: center;

}
.share-with button:hover{
    color: #2159e8;
    cursor: pointer;
}
.click{
    margin-left: 520px;
}

.clikbtn{
  margin-left: 15px ;
}