<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div style="width:100%; text-align: center; margin-top:50px; margin-bottom: 30px;">



    <table>
        <tr>

            <td>Name</td>
            <td>Description</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><form action="/edit-project" method="post" id="form1"><input type="hidden" name="id" value="1" /></td>
            <td><input form="form1" type="text" name="name" value="Name" /></td>
            <td><input form="form1" type="text" name="description" value="Description" /></td>
            <td><input form="form1" type="submit" value="Save" /></td>
            </form>
        </tr>



        <tr>
            <td><form action="/edit-project" method="post" id="form2"><input type="hidden" name="id" value="2" /></td>
            <td><input form="form2" type="text" name="name" th:value="${session.user.getName()}" /></td>
            <td><input form="form2" type="text" name="description" value="Description2" /></td>
            <td><input form="form2" type="submit" value="Save" /></td>
            </form>
        </tr>

    </table>



</body>
</html>

