<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Management Tool| Frontpage</title>
    <link rel="stylesheet" href="generel css/frontpagestyle.css">
    <link rel="stylesheet" href="generel css/headerstyle.css">
    <link rel="stylesheet" href="generel css/footerstyle.css">

</head>
<body>
<!--header.html  -->
<div th:replace="fragments/header :: header"></div>




          <!-- thumbnail and text overlay on hover -->
    <div class="thmb-content2"><a href="/sign-up" th:if="${session.user == null}">
          <img class="thmb-image" src="https://www.pngkey.com/png/detail/367-3670351_access-login-icon.png" alt="pmt-signup"/>
          <div class="normal">
            <div class="thmb-text">Not a user yet ?</div>
         </div>
         <div class="hover">
            <div class="thmb-text">Sign up now!</div>
         </div></a>
    </div>


    <div th:replace="fragments/footer :: footer"></div>


</body>
</html>