<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Management Tool| Frontpage</title>
    <link rel="stylesheet" href="cssstylesheet.css">

</head>
<body>
<!--header.html  -->
<div th:replace="fragments/header :: header"></div>


<div class="sektion1">
    <div class="sektion1-1">
        <div class="overskrift">The easiest way to manage team projects and tasks</div>
        <div class="under-overskrift">Project Management Tool gives teams everything they need to stay in sync,
            hit deadlines, and reach their goals..<br> Start planning now! Not a member yet ?</div>
        <a href="sign-up" class="signup" methods="get"> Click here to sign up</a>
    </div>
</div>


    <div th:replace="fragments/footer :: footer"></div>


</body>
</html>