<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="frontpage css/frontpagestyle.css">
    <link rel="stylesheet" href="generel css/headerstyle.css">
    <link rel="stylesheet" href="generel css/footerstyle.css">
    <link rel="stylesheet" href="generel css/loginstyle.css">

</head>
<body>
<!--header.html -->
<div th:replace="fragments/header :: header"></div>

<div>
    <form action="/sign-in" method="post">

        <div img src="image/loginIcon.png" alt="PmtLogin" class="loginform"> </div>

        <div class="container">
            <label for="email" ><b>Username</b></label>
            <input type="email" placeholder="Enter Email" id="email" name="email" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="password" name="password" required>

            <button type="submit">Login</button>
            <label>
                 <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

    </div>
    </form>
 </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
        <a href="sign-up" class="sign-up" methods="get">Not a user yet? Click here to sign up</a>


<!--footer.html  -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>